<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog Site</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Additional CSS files if needed -->
</head>
<body>
    {{> partials/navbar}}

    {{{body}}}

    <script src="/public/js/script.js"></script>
</body>
</html>
