<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if isAuthenticated}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>

  <div class="content">
    {{{ bodyContent }}}
  </div>
  
  <!-- Include signup partial -->
  {{> signup}}

  <!-- Include login partial -->
  {{> login}}
</body>
</html>
