<section>
  <h1>Create New Post</h1>

  <form class="new-post-form">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-10">
        <div class="form-group text-center">
          <h3><label for="post-title">Title</label></h3>
          <input type="text" id="post-title" name="post-title" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-10">
        <div class="form-group">
          <h3><label for="post-text">Post content</label></h3>
          <textarea id="post-text" name="post-text" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</section>

<script src="/javascript/add-post.js"></script>
